.footer-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
}

.footer-text{
    text-align: center;
    color: white;
    font-weight: 400;
}

.footer-link{
    text-decoration: none;
}