.login-container{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
    background-color: #3943891f;
    margin-top: 200px;
    border: 6px solid black;
    border-radius: 8%;
}

.login-welcome-text{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.login-box{
    display: block;
    margin-top: 100px;
    text-align: center;
}